html, body {
    height: 100%;
}

body {
    background-color: #e4e5e6;
    position: relative;
    padding-bottom: 64px;
}

.nav-tabs {
    margin-top: 10px;
}


.container-fluid.oe-container {
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    padding: 3px 10px
}

.tab-content {
    background-color: #ffffff;
    border-color: #ffffff #dee2e6 #dee2e6 #dee2e6;
    border-width: 1px;
    margin-left: 1px;
}

.nav-item a, .btn-link {
    color: #00A5E2;
    text-decoration: none;
    cursor: pointer;
}

.btn-link:hover {
    color: #00A5E2;
    text-decoration: none;
}


.tab-content > .tab-pane {
    padding: 20px
}

.navbar-brand img {
    height: 45px;
}


.img-avatar {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    height: 35px;
    margin: 0 10px;
}

.app-footer {
    background-color: #ffffff;
    padding: 20px 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9000;
    background: #ffffff;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.spinner-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    color: #00A5E2;
    opacity: 0.5;
    transform: translate(-50%, -50%);
}

.btn-outline-primary {
    color: #00A5E2;
    border-color: #00A5E2
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #00A5E2;
    border-color: #00A5E2; /*set the color you want here*/
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
     color: #00A5E2;
    border-color: #00A5E2
}